{% extends "layout.html" %}

{% block title %}

Cart
{% endblock %}
{% block body %}



<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="https://mdbootstrap.com/" target="_blank" class="float-start">
              <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
            </a>
          </div>
          <!-- Left elements -->
  
          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">
              <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                <i class="fas fa-user-alt m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">Sign in</p>
              </a>
              <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                <i class="fas fa-heart m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">Wishlist</p>
              </a>
              <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                <i class="fas fa-shopping-cart m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">My cart</p>
              </a>
            </div>
          </div>
          <!-- Center elements -->
  
          <!-- Right elements -->
          <div class="col-lg-5 col-md-12 col-12">
            <div class="input-group float-center">
              <div class="form-outline">
                <input type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
              </div>
              <button type="button" class="btn btn-primary shadow-0">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  
    <!-- Heading -->
    <div class="bg-primary">
      <div class="container py-4">
        <!-- Breadcrumb -->
        <nav class="d-flex">
          <h6 class="mb-0">
            <a href="" class="text-white-50">Home</a>
            <span class="text-white-50 mx-2"> > </span>
            <a href="" class="text-white"><u>Shopping cart</u></a>
          </h6>
        </nav>
        <!-- Breadcrumb -->
      </div>
    </div>
    <!-- Heading -->
  </header>
  <!-- Shopping Cart Section Begin -->
  <section class="shopping-cart spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="shopping__cart__table">
            <table>
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart %}
                <tr>
                  <td class="product__cart__item">
                    <div class="product__cart__item__pic">
                      <img src="{{ item.product.image }}" width="50px" alt="">
                    </div>
                    <div class="product__cart__item__text">
                      <h6>{{ item.product.product_name }}</h6>
                      <h5>EGP {{ item.product.price }}</h5>
                    </div>
                  </td>
                  <td class="quantity__item">
                    <div class="quantity">
                      <div class="pro-qty-2">
                        <input type="text" value="{{ item.quantity }}" id="quantity-select"
                          data-product-id="{{ item.product.id }}" style="width: 100px;" />
                      </div>
                    </div>
                  </td>
                  <td class="cart__price">EGP {{ item.total }}</td>
                  <td class="cart__close"><i class="fa fa-close"></i></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="continue__btn">
                <a href="#">Continue Shopping</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="cart__discount">


            <h6>Discount codes</h6>
            <div id="main_coupon_div" class="form-group">
              <label class="form-label">Have coupon?</label>
  
                {% if user.is_authenticated %}
                <div class="input-group">
                  <input id="promo_code" type="text" class="form-control border" name="promo_code" placeholder="Coupon code" />
                  <button id="apply-promo-code" onclick="Apply_promo_function()" class="btn btn-light border">Apply</button>
                </div>
                  <div id="coupon-div">
                    {% if promocode %}
                        <p>Coupon applied: {{ promocode }}<button id="remove-coupon-btn" title="remove code">x</button></p>
                        
                    {% endif %}
                  </div>
                  {% else %}
                  <h5><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Create An Account</a> To Use Coupons</h5>
                  <hr />
                  <p>Don't Worry We Will Keep Your Cart And Designs :) </p>
                  {% endif %}
              </div>

          </div>
          <div class="cart__total">
            <h6>Cart total</h6>
            <ul>
              <li>Subtotal <span>EGP {{ user_cart.total_price_before_discount }}</span></li>
              {% if promocode %}
              <li>Discount <span>EGP {{ discount }}</span></li>
              {% endif %}
              <li>Total <span>EGP {{ user_cart.total_price }}</span></li>
            </ul>
            <a href="{% url 'checkout' %}" class="primary-btn">Proceed to checkout</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Shopping Cart Section End -->
  <!-- cart + summary -->
  <section class="bg-light my-5">
    <div class="container">
      <div class="row">
        <!-- cart -->
        <div class="col-lg-9">
          <div class="card border shadow-0">
            <div class="m-4">
              <h4 class="card-title mb-4">Your shopping cart</h4>

              {% for item in cart %}




                
              <div id="x{{ item.product.id }}" class="row gy-3 mb-4">
                <div class="col-lg-5">
                  <div class="me-lg-5">
                    <div class="d-flex">
                      <img src="{{ item.product.image }}" class="border rounded me-3" style="width: 50px; height: 96px;" />
                      <div class="">
                        <a href="{{ item.product.get_absolute_url }}" class="nav-link">{{ item.product.product_name }}</a>
                        <p class="text-muted">{{ item.product.category }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                  <div class="">
                    <select value="{{ item.quantity }}" id="quantity-select" data-product-id="{{ item.product.id }}" style="width: 100px;" class="form-select me-4">
                        {% for option in existing_options|dictsort:"value" %}
                        <option value="{{ option.value }}" {% if option.value == item.quantity %}selected{% endif %}>{{ option.label }}</option>
                    {% endfor %}
                    </select>
                  </div>
                  <div class="">
                    <text id="total_price_{{ item.product.id }}" class="h6">EGP {{ item.total }}</text> <br />
                    <small class="text-muted text-nowrap"> EGP {{ item.product.price }} / per item </small>
                  </div>
                </div>
                <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                  <div class="float-md-end">
                    <a href="#!" class="btn btn-light border px-2 icon-hover-primary"><i class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                    <a onclick="removeFromCart('{{ item.product.id }}')" class="btn btn-light border text-danger icon-hover-danger"> Remove</a>
                  </div>
                </div>
              </div>
            {% endfor %}
              

            </div>
  
            <div class="border-top pt-4 mx-4 mb-4">
              <p><i class="fas fa-truck text-muted fa-lg"></i> Free Delivery for orders over EGP 1000</p>
              <p class="text-muted">

              </p>
            </div>
          </div>
        </div>
        <!-- cart -->
        <!-- summary -->
        {% if cart %}
        <div data-cart="{{ cart }}" id="cart_summary" class="col-lg-3">
          <div class="card mb-3 border shadow-0">
            <div class="card-body">
              
                <div id="main_coupon_div" class="form-group">
                  <label class="form-label">Have coupon?</label>
                  {% if user.is_authenticated %}
                  <div class="input-group">
                    <input id="promo_code" type="text" class="form-control border" name="promo_code" placeholder="Coupon code" />
                    <button id="apply-promo-code" onclick="Apply_promo_function()" class="btn btn-light border">Apply</button>
                  </div>
                    <div id="coupon-div">
                      {% if promocode %}
                          <p>Coupon applied: {{ promocode }}<button id="remove-coupon-btn" title="remove code">x</button></p>
                          
                      {% endif %}
                    </div>
                    {% else %}
                    <h5><a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Create An Account</a> To Use Coupons</h5>
                    <hr />
                    <p>Don't Worry We Will Keep Your Cart And Designs :) </p>
                    {% endif %}
                </div>
              
            </div>
          </div>
          <div class="card shadow-0 border">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                <p id="cart_total" class="mb-2">EGP {{user_cart.total_price_before_discount}}</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="mb-2">Discount:</p>
                {% if promocode %}
                
                <p id="discount" class="mb-2 text-success">EGP {{ discount }}</p>
                {% else %}
                <p id="discount" class="mb-2 text-success">EGP 0.00</p>

                {% endif %}
              </div>
              <hr />
              <div class="d-flex justify-content-between">
                <p class="mb-2">Total price:</p>
                {% if promocode %}
                  <p id="cart_total_discount" class="mb-2 fw-bold">EGP {{user_cart.total_price}}</p>
                {% else %}
                  <p id="cart_total_discount" class="mb-2">EGP {{user_cart.total_price_before_discount}}</p>
                {% endif %}
              </div>
  
              <div class="mt-3">
                <a href="{% url 'checkout' %}"  class="btn btn-success w-100 shadow-0 mb-2"> Checkout Now </a>
                <a  id="back-button" class="btn btn-light w-100 border mt-2"> Back to shop </a>
              </div>
            </div>
          </div>
        </div>
        <!-- summary -->
      </div>
    </div>
  </section>
  {% endif %}
  <!-- cart + summary -->
  <section>
    <div class="container my-5">
      <header class="mb-4">
        <h3>Recommended items</h3>
      </header>
  
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
            <div class="mask px-2" style="height: 50px;">
              <div class="d-flex justify-content-between">
                <h6><span class="badge bg-danger pt-1 mt-3 ms-2">New</span></h6>
                <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
              </div>
            </div>
            <a href="#" class="">
              <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp" class="card-img-top rounded-2" />
            </a>
            <div class="card-body d-flex flex-column pt-3 border-top">
              <a href="#" class="nav-link">Gaming Headset with Mic</a>
              <div class="price-wrap mb-2">
                <strong class="">$18.95</strong>
                <del class="">$24.99</del>
              </div>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
            <div class="mask px-2" style="height: 50px;">
              <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
            </div>
            <a href="#" class="">
              <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp" class="card-img-top rounded-2" />
            </a>
            <div class="card-body d-flex flex-column pt-3 border-top">
              <a href="#" class="nav-link">Apple Watch Series 1 Sport </a>
              <div class="price-wrap mb-2">
                <strong class="">$120.00</strong>
              </div>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card px-4 border shadow-0">
            <div class="mask px-2" style="height: 50px;">
              <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
            </div>
            <a href="#" class="">
              <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/9.webp" class="card-img-top rounded-2" />
            </a>
            <div class="card-body d-flex flex-column pt-3 border-top">
              <a href="#" class="nav-link">Men's Denim Jeans Shorts</a>
              <div class="price-wrap mb-2">
                <strong class="">$80.50</strong>
              </div>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card px-4 border shadow-0">
            <div class="mask px-2" style="height: 50px;">
              <a href="#"><i class="fas fa-heart text-primary fa-lg float-end pt-3 m-2"></i></a>
            </div>
            <a href="#" class="">
              <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/10.webp" class="card-img-top rounded-2" />
            </a>
            <div class="card-body d-flex flex-column pt-3 border-top">
              <a href="#" class="nav-link">Mens T-shirt Cotton Base Layer Slim fit </a>
              <div class="price-wrap mb-2">
                <strong class="">$13.90</strong>
              </div>
              <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Recommended -->
  
  <!-- Footer -->
  <footer class="text-center text-lg-start text-muted bg-primary mt-3">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start pt-4 pb-4">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-12 col-lg-3 col-sm-12 mb-2">
            <!-- Content -->
            <a href="https://mdbootstrap.com/" target="_blank" class="text-white h2">
              MDB
            </a>
            <p class="mt-1 text-white">
              © 2023 Copyright: MDBootstrap.com
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-6 col-sm-4 col-lg-2">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">
              Store
            </h6>
            <ul class="list-unstyled mb-4">
              <li><a class="text-white-50" href="#">About us</a></li>
              <li><a class="text-white-50" href="#">Find store</a></li>
              <li><a class="text-white-50" href="#">Categories</a></li>
              <li><a class="text-white-50" href="#">Blogs</a></li>
            </ul>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-6 col-sm-4 col-lg-2">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">
              Information
            </h6>
            <ul class="list-unstyled mb-4">
              <li><a class="text-white-50" href="#">Help center</a></li>
              <li><a class="text-white-50" href="#">Money refund</a></li>
              <li><a class="text-white-50" href="#">Shipping info</a></li>
              <li><a class="text-white-50" href="#">Refunds</a></li>
            </ul>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-6 col-sm-4 col-lg-2">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">
              Support
            </h6>
            <ul class="list-unstyled mb-4">
              <li><a class="text-white-50" href="#">Help center</a></li>
              <li><a class="text-white-50" href="#">Documents</a></li>
              <li><a class="text-white-50" href="#">Account restore</a></li>
              <li><a class="text-white-50" href="#">My orders</a></li>
            </ul>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-12 col-sm-12 col-lg-3">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
            <p class="text-white">Stay in touch with latest updates about our products and offers</p>
            <div class="input-group mb-3">
              <input type="email" class="form-control border" placeholder="Email" aria-label="Email" aria-describedby="button-addon2" />
              <button class="btn btn-light border shadow-0" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                Join
              </button>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <div class="">
      <div class="container">
        <div class="d-flex justify-content-between py-4 border-top">
          <!--- payment --->
          <div>
            <i class="fab fa-lg fa-cc-visa text-white"></i>
            <i class="fab fa-lg fa-cc-amex text-white"></i>
            <i class="fab fa-lg fa-cc-mastercard text-white"></i>
            <i class="fab fa-lg fa-cc-paypal text-white"></i>
          </div>
          <!--- payment --->
  
          <!--- language selector --->
          <div class="dropdown dropup">
            <a class="dropdown-toggle text-white" href="#" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false"> <i class="flag-united-kingdom flag m-0 me-1"></i>English </a>
  
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Dropdown">
              <li>
                <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English <i class="fa fa-check text-success ms-2"></i></a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
              </li>
            </ul>
          </div>
          <!--- language selector --->
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer -->
      <!-- MDB -->
      <script type="text/javascript" src="js/mdb.min.js"></script>
      <!-- Custom scripts -->
      <script type="text/javascript" src="js/script.js"></script>












<div class="container">
    <h1>Your Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            
            {% for item in cart %}
                <tr>
                    <td>{{ item.product.product_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.price }}</td>

                    <td>${{ item.total }}</td>
                    <td><button onclick="removeFromCart(1)">Remove</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total: ${{ user_cart.total_price }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>


    <script>


      // Button for return
      document.querySelector('#back-button').addEventListener('click', () => {
    history.back();
});




 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


const csrftoken = getCookie('csrftoken');
function removeFromCart(product_id) {
    // Get the value of the CSRF token

    // Send a PUT request to the server to remove the item from the cart
    fetch(`/cart/remove/${product_id}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
            // Include the CSRF token as a header
            'X-CSRFToken': csrftoken
        }
    })
    .then(response => response.json())
    .then(data => {
        // Update the page to reflect the changes
        // For example, you could update the cart total and remove the item from the cart display
        var div = document.getElementById(`x${product_id}`);
        console.log(`x${product_id}`);
        div.classList.add('fade-away');
        setTimeout(function() {
            div.classList.add('hidden');
        }, 10);
        var cart_total = document.getElementById('cart_total_discount');
        cart_total.innerHTML = `EGP ${data.cart_total}`;
        var cart_total = document.getElementById('cart_total').innerHTML = `EGP ${data.cart_total_before_discount}`;
        var cart_total = document.getElementById('discount').innerHTML = `EGP ${data.discount}`;
        var cart_summary = document.getElementById('cart_summary');
        const cart_count = cart_summary.dataset.cart;
        if (!cart_count) {
          cart_summary.classList.add('fade-away');
            cart_summary.addEventListener('transitionend', () => {
                cart_summary.remove();
            });
        }

    });
}
// A function that handles quantity change
const selectElements = document.querySelectorAll('#quantity-select');
selectElements.forEach(selectElement => {
    selectElement.addEventListener('change', (event) => {
        const quantity = event.target.value;
        const productId = event.target.dataset.productId;
        const data = {quantity: quantity};
        fetch(`/add_to_cart/${productId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // update the cart total or display a message here
            console.log(data);
            var total_price = document.getElementById(`total_price_${productId}`);
            total_price.innerHTML = `EGP ${data.total}`;
            var cart_total = document.getElementById('cart_total');
            cart_total.innerHTML = `EGP ${data.cart_total_before_discount}`;
            document.getElementById('discount').innerHTML = `EGP ${data.discount}`;
            document.getElementById('cart_total_discount').innerHTML = `EGP ${data.cart_total}`;
        })
        .catch((error) => {
        console.error('Error:', error);
    });
    });
});

 // A function to apply promo codes through a put request
 const apply_promo_button = document.getElementById('apply-promo-code')
const input = document.querySelector('#promo_code');
const url = '/apply_coupon/';

    function Apply_promo_function() {
    const data = { promo_code: input.value };

    fetch('/apply_coupon/', {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
        if (data.error != false) {
              // create error message element
    let errorMessage = document.createElement('div');
    errorMessage.id = 'error-message';
    errorMessage.textContent = data.error;
    errorMessage.style.color = 'red';
    
    // check if error message is already shown
    let existingErrorMessage = document.querySelector('#error-message');
    if (!existingErrorMessage) {
        // insert error message into main_coupon_div
        document.querySelector('#main_coupon_div').appendChild(errorMessage);
        
        // fade out error message when user clicks anywhere on the page
        document.addEventListener('click', () => {
            errorMessage.classList.add('fade-away');
            errorMessage.addEventListener('transitionend', () => {
                errorMessage.remove();
            });
        });
    }
        }
        else{
          document.getElementById('discount').innerHTML = `EGP ${data.discount}`;
    document.getElementById('cart_total_discount').innerHTML = `EGP ${data.cart_total}`;
    
    // check if coupon div already exists
    let couponDiv = document.querySelector('#coupon-div');
    if (couponDiv) {
        // update coupon div with new code
        couponDiv.innerHTML = `<p>Coupon applied: ${input.value}<button id="remove-coupon-btn" title="remove code">x</button></p>`;
    } else {
        // create and insert new coupon div
        couponDiv = document.createElement('div');
        couponDiv.id = 'coupon-div';
        couponDiv.innerHTML = `<p>Coupon applied: ${input.value}<button id="remove-coupon-btn" title="remove code">x</button></p>`;
        document.querySelector('#main_coupon_div').appendChild(couponDiv);
    }
    
    // apply fade-in effect to coupon div
    couponDiv.classList.add('fade-in');
    document.querySelector('#remove-coupon-btn').addEventListener('click', removeCoupon);
        }
    })
};


    // Remove coupon code function
    function removeCoupon() {
    fetch('/remove_coupon/', {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
        }
    })
    .then(response => response.json())
    .then(data => {
        if (!data.error) {
            // update cart total
            document.querySelector('#cart_total').textContent = data.cart_total;
            document.querySelector('#cart_total_discount').textContent = data.cart_total;
        }
        //remove the discount 
        document.getElementById('discount').innerHTML = `EGP 0.00`;
        // remove coupon div
        let couponDiv = document.querySelector('#coupon-div');
        if (couponDiv) {
          couponDiv.classList.add('fade-away');
          couponDiv.addEventListener('transitionend', () => {
              couponDiv.remove();
        });
      }
    });
}

document.querySelector('#remove-coupon-btn').addEventListener('click', removeCoupon);


    </script>
    <style>
      .fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
      #remove-coupon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.fade-away {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hidden {
  height: 0;
  transition: height 4s ease-in-out;
}
    </style>
</div>
{% endblock %}