{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category Listings</h2>
    <ul>
    {% for watchlist in watchlists %}
    <li>

    <form action="{% url 'listing' watchlist.item watchlist.id %}">
        <a class="hello" href="" onclick="this.closest('form').submit();return false;">
        <h2>{{ watchlist.item }}</h2>
        <h4>{{ watchlist.price }} $</h4>
        <h5>{{ watchlist.description }}</h5>
        <h6>{{ watchlist.date }}</h6>
        
        <img src="{{ watchlist.image }}" width="128" height="128"></a></form></li>
    {% endfor %}
    </ul>
{% endblock %}